* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding:  20px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.video-container {
    /* position: relative; */
    height: calc(100vh - 56px); /* Adjust height to account for the navbar */
    overflow: hidden;
    margin-top: 56px; /* Adjust margin to account for the navbar height */
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}